:root {
    --white-color: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botão-azul: #167bf7;
    --background: #00030c;
    --fonte-principal: 'Inter';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--white-color);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

.principal {
    background-image: url(./imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--white-color);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
    margin: 0 0 0 2em;

}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-size: 48px;
    color: var(--white-color);
    font-weight: 700;
    margin: 0.1em;
}

.descricao_texto {
    font-size: 16px;
    color: var(--cinza-secundario);
    font-weight: 400;
}

.secundario__botao {
    display: inline-block;
    margin: 1em 0;
}

.container_descricao {
    padding: 2em;
}

.dispositivos_titulo {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: var(--white-color);
}

.dispositivo_lista {
    display: flex;
    justify-content: center;
    margin: 5em;
    list-style-type: none;
}

.lista_item {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--white-color);
}

.rodape {
    text-align: center;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.rodape_texto {
    color: var(--white-color);
    margin: 10px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;


}

.rodape_texto2 {
    color: var(--cinza-secundario);
    font-size: 14px;
    font-weight: 400;
    margin: 30px 50px 20px 50px;

}

.rodape_logo {
    margin: 40px;
}